.navbar-brand{
    display: flex;
    flex-direction: row;
    

}

.image_firts{
    margin-right: 30px;
    margin-left: 10px;
}

.programa_formacion{
    margin-right: 30px;
    margin-left: 80px;
    margin-top: 19px;
}

.programa_formacion:hover{
    text-decoration: underline overline;/*para quitar el subrayado de arriba solo quitar el overline*/
    text-decoration-color: #39A900;
    text-decoration-style: wavy;/*en vez de wavy poner solid, solo que wavy me gusto*/
    color: #39A900;
}

.horarios{
    margin-right: 30px;
    margin-left: 80px;
    margin-top: 19px;

}

.horarios:hover{
    text-decoration: underline overline;/*para quitar el subrayado de arriba solo quitar el overline*/
    text-decoration-color: #39A900;
    text-decoration-style: wavy;/*en vez de wavy poner solid, solo que wavy me gusto*/
    color: #39A900;
}

.asistencia{
    margin-right: 35px;
    margin-left: 10px;
    margin-top: 19px;

}

.asistencia:hover{
    text-decoration: underline overline;/*para quitar el subrayado de arriba solo quitar el overline*/
    text-decoration-color: #39A900;
    text-decoration-style: wavy;/*en vez de wavy poner solid, solo que wavy me gusto*/
    color: #39A900;
}

.informacion{
    margin-right: 30px;
    margin-left: 100px;
    margin-top: 19px;
    text-decoration: none; 
    color:black; 
    
}

.informacion:hover{
    text-decoration: underline overline;/*para quitar el subrayado de arriba solo quitar el overline*/
    text-decoration-color: #39A900;
    text-decoration-style: wavy;/*en vez de wavy poner solid, solo que wavy me gusto*/
    color: #39A900;
}


.settings_button{
    margin-right: 35px;
    margin-left: 90px;
    margin-top: 15px;
    background-attachment: fixed;
    background-color: #39A900;
    border: none;
    color:white;
    padding: 5px  15px;
    text-align: center; 
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 8px 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 1rem;
    /*animation: boton-animado 2s ease-in-out initial;se puede infinitamente pero no tengo mucho control de eso*/
    transition: transform 0.3s ease;
    
}

.settings_button:hover{
    background-color: #39A900;
    color: white;
    transform: scale(2);/*aqui se pueden poner otras como translate,rotate,matrix,skew, me gustaron tambien*/
}

.settings_button:active{
    transform: scale(2);
}